<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
         
          
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <a href="index.php" ><img src="imagens/telzir.png" alt=""style="width:50px;height:50px;border-radius:15px"></a>
      <small style="font-size:17px">Copyright &copy; telzir.herokuapp.com</small>
     <a href=" https://wa.me/5511963444494?text=%20Olá seja bem vindo a Telzir Telecom, será um prazer atende-lo(a)" target="_blank"><img src="imagens/whatsapp.png" alt=""style="position:absolute;margin-left:500px"></a>

    </div>

  </footer>
</body>