<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <h1>Seja Bem Vindo a Telzir Telecom</h1>
      <p>Somos uma empresa especializada em telefonia</p>
  </div>
</div>

<div id="container">

<div class="row justify-content-center">
  <div class="col-3">
    <div class="card-group">
      <div class="card">
        <a href="precificacao.php"><img class="card-img-top" src="imagens/icone-preco.png" id="logo" alt="Card image cap" style="width:150px; margin-left:100px;margin-top:13px;"></a>
        <div class="card-body">
          <h5 class="card-title">Preços</h5>
          <p class="card-text">Acesse a página de Planos/Preços, para obter orçamento das chamadas, consultar disponibilidade de planos, e consulta em tempo real o valor da chamada desejada</p>
          <a href="precificacao.php" class="btn btn-primary">Acesse Já</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>


<div class="col-3">
    <div class="card-group">
      <div class="card">
        <a href="contato.php"><img class="card-img-top" src="imagens/icone-contato.png" alt="Card image cap" style="width:175px; top:0px"></a>
        <div class="card-body">
          <h5 class="card-title">Fale Conosco</h5>
          <p class="card-text">Acesse nossa pagina de contato e deixe por escrito suas duvidas,criticas, sugestões de melhorias e afins, gostariamos de atende-lo e sanar tudo que for possivel</p>
          <a href="contato.php" class="btn btn-primary">Acesse Já</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

</body>
</html>