<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <h1>Seja Bem Vindo a Telzir Telecom</h1>
      <p>Somos uma empresa especializada em telefonia</p>
  </div>
</div>

<div id="container">

<div class="row justify-content-center">
  <div class="col-3">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src=" id="logo" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>


<div class="col-3">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

</body>
</html>